# Node modules
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Android/IntelliJ
android/build/
android/app/build/
android/.gradle/
android/app/release/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj
ios/Podfile.lock
ios/DerivedData/
ios/.build/

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# Environment
.env
.env.*

# Misc
.DS_Store
.idea/
*.log
coverage/ 